body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/Blackjack.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}




h1 {
    color: rgb(32, 218, 63);
}